/src/results/*
!/src/results/*.csv
/src/weights/
figures/
/reward_comparison.pdf
/reward_plot.pdf
/src/data/
/src/plots/
/src/symbolic_regression/results/
/src/symbolic_regression/symbolic_outputs/
/src/symbolic_regression/weights/
/src/heuristics/decision_tree/**
!/src/heuristics/decision_tree/regular-soft-decision.jl
/src/heuristics/lasso_regression/outputs
/src/extra/RewardVsTime/reward_vs_time.csv
/src/extra/RewardVsTime/*.bin
/src/extra/RewardVsTime/reward_vs_time.pdf
/src/extra/RewardVsTime/figures/
/src/extra/MakePlots/figures
